// # Navbar
// Primary styles -- Auto-Hiding Navigation
//

.#{$prefix}-navbar,
.#{$prefix}-navbar * {
  font-family: $font-family-main !important;
}

.#{$prefix}-navbar {
	background-color: $navbar-bg !important;
	z-index: $zindex-navbar !important;
}

.#{$prefix}-navbar .navbar-brand .navbar-item,
.#{$prefix}-navbar .navbar-item .navbar-link,
.#{$prefix}-navbar .navbar-menu > .navbar-end > .navbar-item {
	transition: $transition;
	&:hover,
	&:active,
	&:active {
		color: $navbar-hover-color !important;
		background-color: $navbar-hover-bg !important;
		.#{$prefix}-icon {
			color: $navbar-link-color;
		}
	}
}

.#{$prefix}-navbar .navbar-item.has-dropdown:hover {
	.navbar-link {
		background-color: $navbar-hover-bg !important;
	}
}

.#{$prefix}-navbar .user-menu {
	border-left: 1px solid lighten($navbar-bg, 7%);
}

.#{$prefix}-navbar .user-image {
	width: 32px;
	border-radius: 100%;
	display: inline-block;
	line-height: 1;
	margin: .25em .57142857142857em .125em 0;
}
